{erl_opts, [debug_info]}.
{deps, [
    {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}}
    % , {jiffy, "1.0.5"}
]}.

{shell, [
    {apps, [eneo4j]}
]}.

{minimum_otp_vsn, "21.2"}.

{plugins,
    [
        erlfmt,
        {gradualizer, {git, "git://github.com/josefs/Gradualizer.git", {branch, "master"}}},
        {rebar3_codecov, {git, "https://github.com/esl/rebar3_codecov.git", {ref, "6bd31cc"}}}

    ]
}.

{erlfmt, [
    write,
    {files, "{src,test}/*.{erl}"}
]}.

{codecov_opts,
    [
        {path, ["/tmp", "_build/test/cover"]}
    ]}.

{cover_enabled, true}.
{cover_export_enabled,true}.
