{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [eneo4j]}
]}.

{minimum_otp_vsn, "21.2"}.

{plugins,
    [
        erlfmt,
        {gradualizer, {git, "git://github.com/josefs/Gradualizer.git", {branch, "master"}}}
    ]
}.

{erlfmt, [
    write,
    {files, "{src,test}/*.{erl}"}
]}.
